.finished-task {
	font-style: italic;
	opacity: 0.6;
}

.unfinished-task {
	background-color: #EDEDED;
	font-weight: bold;
}

.unfinished-task button.finished {
	opacity: 1;
}

.unfinished-task button.unfinished{
	display: none;
}